.navbar {
background-color: #F8C114;
color: white
}

a{
    color: rgb(224, 115, 64);
}

a:hover{
    color: navajowhite;
}

a:active{
    color: rgb(47, 113, 255);
}

h1, h2, h3, h4, h5, h6, p, a {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}